* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #f5f7fb;
  padding-top: 2.5em;
  position: relative;
}

.yellow-el {
  position: absolute;
  width: 30%;
  height: 30%;
  right: 0;
  top: 0;
}

button {
  cursor: pointer;
}

.starting-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}

.starting-container > .title {
  color: #293264;
  font-family: Karla;
  font-size: 2.75rem;
  font-weight: 700;
}

.starting-container > .start-btn {
  border-radius: 0.9375rem;
  color: #f5f7fb;
  background: #4d5b9e;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.875em 2em;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.question-container {
  margin: auto 10em auto 10em;
  padding: 0 0 1.175em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #dbdef0;
}

.question-container > .question {
  margin-bottom: 1em;
  max-width: 90%;
  color: #293264;
  font-family: Karla;
  font-size: 1rem;
  font-weight: 700;
}

.question-container > .answers-container {
  display: flex;
  justify-content: center;
  gap: 0.85em;
  flex-wrap: wrap;
}

.question-container > .answers-container > .answers-btn {
  white-space: nowrap;
  padding: 0.375em 0.75em;
  border-radius: 0.5em;
  border: 0.794px solid #4d5b9e;
  background-color: transparent;
  flex-grow: 1;
}

.question-container > .answers-container > .answers-btn--selected {
  background-color: #d6dbf5;
}

.quiz-container {
  display: flex;
  flex-direction: column;
}

.quiz-container > .check-answers-btn {
  margin: 1.25em auto 2em;
  color: #f5f7fb;
  background-color: #4d5b9e;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 0.5em;
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 600;
}

.quiz-container > .end-game-container {
  margin: 1.25em 0 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.quiz-container > .end-game-container > h4 {
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.quiz-container > .end-game-container > .play-again-btn {
  background-color: #4d5b9e;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  border: none;
  color: #f5f7fb;
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 600;
}

.question-container > .answers-container > .answers-btn--dimmed {
  opacity: 0.5;
}
.question-container > .answers-container > .answers-btn--incorrect {
  background-color: #f8bcbc;
  opacity: 0.5;
}

.question-container > .answers-container > .answers-btn--correct,
.question-container > .answers-container > .answers-btn--correct-highlight {
  background-color: #94d7a2;
}
